  <div class="list-group-item">
    <h4 class="list-group-item-heading">
      <%= event.title %>
    </h4>
    <%= link_to 'Details', neighbourhood_event_path(event.neighbourhood_id, event), class: 'btn btn-primary'%>
    <h3>Organizer</h3>
    <h3><%= event.date %></h3>
    <h3><%= event.location %></h3>
     <%= image_tag event.image, alt: event.title %>
    <p class="list-group-item-text"><%= "Submitted on #{event.created_at} by User" %></p>
  </div>

  
  