<section class="dashboard-show">
  <% if flash.notice %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>
 <div class="jumbotron dashboard-event">
  <%if !@events.empty? %>
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <% @events.each_with_index do |event, n| %>
        <li data-target="#myCarousel" data-slide-to="<%= n %>" class="<%='active' if n == 0%>"></li>
      <% end %>
    </ol>

    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag @events.first.image.url(:thumb), alt: @events.first.title, class: "d-block img-fluid" %>
        <div class="carousel-caption">
            <h3><%= @events.first.title%></h3>
            <p><%= "#{@events.first.date.strftime("%B %d,%Y")}" %></p>
            <p><%= "#{@events.first.location}" %></p>
            <a class="btn btn-default" href="<%=neighbourhood_event_path(neighbourhood_id: users_building.neighbourhood_id, id: @events.first.id) %>">Details</a>
        </div>
        </div>
      <% @events.drop(1).each do |event| %>
        <div class="item">
          <%= image_tag event.image.url(:thumb), alt: event.title, class: "d-block img-fluid" %>
          <div class="carousel-caption">
            <h3><%= event.title%></h3>
            <p><%= "#{event.date.strftime("%B %d,%Y")}" %></p>
            <p><%= "#{event.location}" %></p>
            <a class="btn btn-default" href="<%=neighbourhood_event_path(neighbourhood_id: users_building.neighbourhood_id, id: event.id) %>">Details</a>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>

  <div class="dashboard-feeds">
    <div class="panel panel-default">
      <div class="panel-body">
        Community Feeds
      </div>
    </div>
    <div id="feeds">
      <% @feeds.each do |feed| %>
        <%= render 'feed', feed: feed %>
      <% end %>
    </div>
    <%= paginate @feeds %>
  </div>

  <div class="dashboard-polls">
    <div class="panel panel-default">
      <div class="panel-body">
        Polls
      </div>
    </div>
    <% @polls.each do |poll| %>
      <%= render 'poll', neighbourhood_id: @neighbourhood.id, poll: poll %>
    <% end %>
    </div>

</section>
