<article class="meeting">
  <header>
    <div class="alert alert-dismissible alert-info" role="tablist" aria-multiselectable="true">
      <a role="button" data-toggle="collapse" href="#<%= meeting.id %>">
        <h3>
          <%= meeting.date %>
          <%= meeting.title %>
        </h3>
      </a>
      <div class="row">
        <div class="col-sm-6">
          <div>
            <h5>Location: <%= meeting.location  %></h5>
            <% if !meeting.documents.empty? %>
              <i class="fa fa-file-text" aria-hidden="true"></i>
            <% end %>
            <% if !meeting.videos.empty? %>
              <i class="fa fa-youtube" aria-hidden="true"></i>
            <% end %>
          </div>
          <h6>
            Uploaded <%= time_ago_in_words(meeting.created_at) %> ago by <%= find_user(meeting.user_id).first_name %> <%= find_user(meeting.user_id).last_name %>
            (
              <i class="fa fa-home" aria-hidden="true"></i>
              <% @posting_user = find_user(meeting.user_id) %>
              <% @res_info = Unit.find(@posting_user.unit_id) %>
              <% @address = Building.find(@res_info.building_id) %>
              <%= @res_info.unit_number %>
              -
              <%= @address.address %>
            )
          </h6>
          <% if current_user %>
            <% if meeting.user_id == current_user.id  %>
              <button type="button" class="btn btn-sm btn-danger">
                <i class="fa fa-trash-o" aria-hidden="true"> </i>
                <%= link_to 'Delete meeting info', [@neighbourhood, meeting], method: :delete, data: { confirm: "Are you sure?" } %>
              </button>
            <!-- upload toggles for doc/vid -->
              <button type="button" class="btn btn-sm btn-upload" data-toggle="collapse" href="#<%= meeting.id %>D">
                Upload new Document
              </button>
              <button type="button" class="btn btn-sm btn-upload" data-toggle="collapse" href="#<%= meeting.id %>V">
                Upload new Video
              </button>
            <% end %>
          <% end %>
        </div>
      </div>
      <!-- form for new document(toggle) -->
      <div id="<%= meeting.id %>D" class="collapse">
        <div class="panel-body upload-form">
          <%= form_for [@neighbourhood, meeting, @document] do |form| %>
            <div class="form-horizontal">
              <fieldset>
                <div class="row">
                  <div class="form-group form-group-doc">
                    <div class="col-sm-3 control-label">
                      <strong>Add New Document</strong>
                    </div>
                    <div class="col-sm-1">
                      <%= form.label :name, class: "control-label" %>
                    </div>
                    <div class="col-sm-3">
                      <%= form.text_field :name, class: "form-control" %>
                    </div>
                    <div class="col-sm-3">
                      <span class="btn btn-upload btn-file">
                        Upload Document File
                        <%= form.file_field :location, class: "form-control" %>
                      </span>
                    </div>
                  </div>
                  <div class="form-groups">
                    <div class="col-sm-2">
                      <%= form.submit "Add Document", class: "btn btn-upload" %>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          <% end %>
        </div>
      </div>
      <!-- form for new video(toggle) -->
      <div id="<%= meeting.id %>V" class="collapse">
        <div class="panel-body upload-form">
          <%= form_for [@neighbourhood, meeting, @video] do |form| %>
            <div class="form-horizontal">
              <fieldset>
                <div class="row">
                  <div class="form-group form-group-vid">
                    <div class="col-sm-2 control-label">
                      <strong>Add New Video</strong>
                    </div>
                    <div class="col-sm-1">
                      <%= form.label :URL, class: "control-label" %>
                    </div>
                    <div class="col-sm-3">
                      <%= form.text_field :location, class: "form-control" %>
                    </div>
                    <div class="col-sm-1">
                      <%= form.label :name, class: "control-label" %>
                    </div>
                    <div class="col-sm-3">
                      <%= form.text_field :name, class: "form-control" %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2">
                      <%= form.submit "Add Video", class: "btn btn-upload-vid" %>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          <% end %>
        </div>
      </div>

      <div id="<%= meeting.id %>" class="collapse">
        <div class="panel-body upload-details">
          <div>
            <% meeting.documents.each do |document| %>
            <hr>
              <a class="document-name", href=" <%= document.location  %> ">
                  <%= "Download document: #{document.name}"  %>
              </a>
              <i class="fa fa-file-text" aria-hidden="true"></i>
              <% if current_user %>
                <% if meeting.user_id == current_user.id  %>
                <button type="button" class="btn btn-sm btn-danger">
                  <i class="fa fa-trash-o" aria-hidden="true"> </i>
                  <%= link_to 'Delete', [@neighbourhood, meeting, document], method: :delete, file: { confirm: "Are you sure?" } %>
                </button>
                <% end  %>
              <% end %>
            <% end %>
          </div>

            <% meeting.videos.each do |video| %>
              <iframe
                width="560"
                height="349"
                src=
                  <% if !video.location.start_with?('https://www.youtube.com/embed') %>
                    "<%= video.location.sub! /^(http(s)?:\/\/)?((w){3}.)?youtu(be|.be)?(\.com)?\//, 'https://www.youtube.com/embed/' %>"
                  <% else %>
                    "<%= video.location  %>"
                  <% end %>
              >
              </iframe>
              <% if current_user %>
                <% if meeting.user_id == current_user.id  %>
                <div class="row">
                  <button type="button" class="btn btn-sm btn-danger">
                    <i class="fa fa-trash-o" aria-hidden="true"> </i>
                    <%= link_to 'Delete video', [@neighbourhood, meeting, video], method: :delete, data: { confirm: "Are you sure?" } %>
                  </button>
                </div>
                <% end  %>
              <% end %>
            <% end %>

          </div>
        </div>

      </div>
    </div>
  </header>
</article>
