<section class="meetings-index">
  <header class="page-header">
    <% if current_user  %>
      <div class="panel panel-default">
        <div class="panel-body">
         Past Meetings
        </div>
       </div>
      <% if current_user.on_council == true %>
        <div class="well" id="accordion" role="tablist" aria-multiselectable="true">
          <a role="button" class="btn btn-info" data-toggle="collapse" href="#new_meeting">
          Post New Meeting Minutes
          </a>
          <div id="new_meeting" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <%= render 'form'  %>
            </div>
          </div>
        </div>
        <% if flash[:error] %>
          <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>The following errors prevented saving:</strong>
            <% flash[:error].each do |err| %>
              <li><%= err %></li>
            <% end %>
          </div>
        <% end %>
        <% if flash[:success] %>
          <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:success] %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </header>
  <div class="meeting">
    <%= render @meetings %>
    <%= paginate @meetings %>
  </div>

</section>


