<article class="notice">
  <header>
    <div class="alert alert-dismissible alert-info">
      <h3>
        <%= link_to notice.title,  [@neighbourhood, notice] %>
      </h3>
      <hr>
      <h6>
        Submitted on <%= time_ago_in_words(notice.created_at) %> by <%= find_user(notice.user_id).first_name %> <%= find_user(notice.user_id).last_name %>
      </h6>
      <% if current_user %>

        <% if notice.user_id == current_user.id  %>
          <button type="button" class="btn btn-sm btn-danger">
            <i class="fa fa-trash-o" aria-hidden="true"> </i>
            &nbsp;<%= link_to "Delete", [@neighbourhood, notice], method: :delete, data: { confirm: "Are you sure?" } %>
          </button>
        <% end %>
      <% end %>
    </div>
  </header>
</article>
