<div class="row">
  <div class="col-sm-12 poll-list" data-poll-ids="<%= @polls_id %>" id="poll-list">
     <div class="panel panel-default poll-response-header">
       <div class="panel-body">
           Current Polls
        </div>
      </div>
  <div id="poll-result">
    <% polls.each do |p| %>
      <div class="list-group">
        <div class="list-group-item poll-item" id="poll-item-<%= p.id %>">
          <h4><%= p.title %></h4>
          <%= p.description %>
          <div data-yes=<%= p.votes.where(vote: "yes").count %>
               data-no=<%= p.votes.where(vote: "no").count %>
               data-abstain=<%= p.votes.where(vote: "abstain").count %>
               id="poll-results-<%= p.id %>">
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @polls%>
  </div>
  </div>
</div>