<table class="table table-striped table-hover search-table">
  <tr>
    <th>Building ID</th>
    <th>Unit</th>
    <th>Resident Code</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>On Council?</th>
    <th>Delete</th>
  </tr>
  <% for user in @users %>
    <% @res_info = Unit.find(user.unit_id) %>
    <tr class="text-center">
      <td><%= @res_info.building_id  %></td>
      <td><%= @res_info.unit_number %></td>
      <td><%= user.resident_code  %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <% if user.id == current_user.id %>
        <td><%= user.on_council %></td>
        <td>N/A</td>
      <% else %>
        <td class="row council-column">
          <span class="form-horizontal">
            <%= form_for user, url: admin_user_path(id: user.id), method: 'PUT', class: "form-horizontal" do |form| %>
              <span class="col-sm-1">
                <%= form.check_box :on_council %>
              </span>
              <span class="col-sm-2">
                <%= form.submit "update", class: "btn btn-sm btn-update" %>
              </span>
            <% end %>
          </span>
        </td>
        <td>
          <%= link_to fa_icon('trash'), admin_user_path(id: user.id), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Please only do so if user no longer resident in current neighbourhood" } %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
