<article class="assistance">
  <header>
    <div class="alert alert-dismissible alert-info">
      <h3>
        <%= link_to assistance.title,  [@neighbourhood, assistance] %>
      </h3>
      <small>
        <em>
          submitted on date <%= assistance.created_at %> by <%= assistance.user_id %>
        </em>
      </small>
      <% if current_user %>
        <% if assistance.user_id == current_user.id  %>
            <%= link_to fa_icon('trash'), [@neighbourhood, assistance], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#<%= assistance.id %>">Edit help request</button>

                        <!-- Modal -->
            <div id="<%= assistance.id %>" class="modal fade in" role="dialog">
              <div class="modal-dialog">
              <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  &times;
                </button>
                <h5>Create your event</h5>
              </div>
              <div class="modal-body">
                <%= form_for assistance, url: neighbourhood_assistance_path(neighbourhood_id: users_building.neighbourhood_id, id: assistance.id), method: 'put' do |form| %>
                  <% if form.object.errors.any? %>
                    <div class="alert alert-danger">
                      <strong>The following errors prevented saving:</strong>
                      <ul>
                        <% form.object.errors.full_messages.each do |error| %>
                          <li><%= error %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <div class="form-horizontal">
                    <fieldset>
                      <div class="row">
                        <div class="form-group">
                          <div class="col-sm-2">
                            <%= form.label :Title, class: "control-label" %>
                          </div>
                          <div class="col-sm-10">
                            <%= form.text_field :title, class: "form-control" %>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <%= form.label :Description, class: "control-label" %>
                        <%= form.text_area :description, class: "form-control" %>
                      </div>
                      <div>
                        <div class="form-group">
                          <%= form.submit "Update help request", class: "btn btn-primary" %>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                <% end %>
              </div>
              </div>
              </div>
            </div>

        <% end %>
      <% end %>
    </div>
  </header>
</article>

