<div class="panel panel-default comment-panel">
  <div class="panel-heading">
    <% if current_user.id === comment.user_id %>
      <dd>
        <%= link_to fa_icon('times'), assistance_comment_path(assistance_id: @assistance.id, id:comment.id, type: 'assistance'), class: 'btn btn-sm btn-delete', method: :delete, data: { confirm: "Are you sure?" } %>
      </dd>
    <% end %>
    <dd class="comment-user">
      <%= AssistanceComment.find_user(comment.user_id) %>
      (
      <i class="fa fa-home" aria-hidden="true"></i>
      <% @commenting_user = User.find(comment.user_id) %>
      <% @res_info = Unit.find(@commenting_user.unit_id) %>
      <% @address = Building.find(@res_info.building_id) %>
      <%= @res_info.unit_number %>
      -
      <%= @address.address %>
      )
    </dd>
  </div>
  <div class="panel-body">
    <dd>
      <%= comment.content %>
    </dd>
    <dd>
      <h6>Submitted <%= time_ago_in_words(comment.created_at) %> ago </h6>
    </dd>
  </div>
</div>