<section class="assistances-show">
  <div class="panel-default assistance-panel">
    <div class="panel-heading">
      <h2 class="assistance-title"><%= @assistance.title %></h2>
      <div>
        <h6>Submitted <%= time_ago_in_words(@assistance.created_at) %> ago by <%= find_user(@assistance.user_id).first_name %> <%= find_user(@assistance.user_id).last_name %></h6>

        <% if current_user %>
          <% if @assistance.user_id == current_user.id  %>
            <%= link_to fa_icon('trash'), [@neighbourhood, :assistance], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#<%= @assistance.id %>">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </button>
      </div>
          <!-- Modal -->
          <div id="<%= @assistance.id %>" class="modal fade" role="dialog">
            <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  &times;
                </button>
                <h5>Edit description for your help request</h5>
              </div>
              <div class="modal-body">
                <%= form_for @assistance, url: neighbourhood_assistance_path(neighbourhood_id: users_building.neighbourhood_id, id: @assistance.id), method: 'put' do |form| %>
                  <% if form.object.errors.any? %>
                    <div class="alert alert-danger">
                      <strong>The following errors prevented saving:</strong>
                      <ul>
                        <% form.object.errors.full_messages.each do |error| %>
                          <li><%= error %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <div class="form-horizontal">
                    <fieldset>
                      <div class="form-group">
                        <%= form.label :Description, class: "control-label" %>
                        <%= form.text_area :description, :rows => 8, style: 'width:100%', class: "form-control" %>
                      </div>
                      <div>
                        <div class="form-group">
                          <%= form.submit "Update help request", class: "btn btn-primary" %>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                <% end %>
              </div>
            </div>
            </div>
          </div>

        <% end %>
      <% end %>
    </div>
    <div class="alert alert-dismissible alert-success">
      <%= @assistance.description %>
    </div>
  </div>
</section>

<%#Comment Section%>
<% if flash.notice %>
  <div class="alert alert-danger">
    <%= notice %>
  </div>
<% end %>
<div class="assistance-comments">
  <div class="post-comment">
    <h4>Add a comment:</h4>
    <%= form_for @assistance_comment, url: assistance_comments_path(assistance_id: @assistance.id, type: 'assistance') do |f| %>
      <p>
        <%= f.text_area :content, class:'comment-input'  %>
      </p>
      <p>
        <%= f.submit class:"btn btn-primary btn-comment"%>
      </p>
    <% end %>
  </div>
  <div class="comments">
    <% @assistance_comments.each do |comment| %>
      <%= render 'comment', comment: comment %>
    <% end %>
  </div>
</div>