<section class="events-show">
  <header class="page-header">

    <div class="jumbotron">
      <%= image_tag @event.image.url(:thumb), alt: @event.title, class:"event-image img-responsive"%>
      <h2 class='event-title'><%= @event.title %></h2>
      <h6>Submitted <%= time_ago_in_words(@event.created_at) %> ago by <%= find_user(@event.user_id).first_name %> <%= find_user(@event.user_id).last_name %></h6>
      <hr>
      <article class="event-detail">
        <h4><%= "Event Description:" %></h4>
        <%= @event.description %>
      </article>
      <% if current_user %>
        <% if @event.user_id == current_user.id  %>
          <%= link_to fa_icon('trash'), neighbourhood_event_path(id: @event.id), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      <% end %>
    </div>
  </header>
</section>


<!-- attendees -->
  <div class="well dashboard-poll message-box">
    <h4 class="post-title">Please confirm your attendance!</h4>
      <hr>
      <div class="progress">
        <div class="progress-bar" style="width: <%= number_to_percentage(Attendee.yes_calculation(@event.id), precision: 0)%>">Attending count: <%= (Attendee.yes_calculation(@event.id).to_i)/100 %></div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" style="width: <%= number_to_percentage(Attendee.no_calculation(@event.id), precision: 0)%>">Attending count: <%= (Attendee.no_calculation(@event.id).to_i)/100 %></div>
      </div>
      <h6>Submitted <%= time_ago_in_words(@event.created_at) %> ago by <%= find_user(@event.user_id).first_name %> <%= find_user(@event.user_id).last_name %></h5>
      <div class="vote-result">
        <% if !Attendee.where(event_id: @event.id, user_id: current_user.id).empty? %>
            <h5 class="poll-thank-you">You have submitted your attendance.</h5>
        <% else %>
          <%= link_to "Yes", neighbourhood_event_path(neighbourhood_id: @neighbourhood, id: @event.id, attend: "yes", event: @event.id), class: 'btn btn-default', method: 'put' %>
          <%= link_to "No", neighbourhood_event_path(neighbourhood_id: @neighbourhood, id: @event, attend: "no", event: @event.id), class: 'btn btn-default', method: 'put' %>
        <% end %>
      </div>
  </div>




<%#Comment Section%>
<% if flash.notice %>
  <div class="alert alert-danger">
    <%= notice %>
  </div>
<% end %>
<div class="event-comments">
  <div class="post-comment">
    <h4>Add a comment:</h4>
    <%= form_for @event_comment, url: event_comments_path(event_id: @event.id, type: 'event') do |f| %>
      <p>
        <%= f.text_area :content, class:'comment-input'  %>
      </p>
      <p>
        <%= f.submit "Comment", class:"btn btn-primary btn-comment"%>
      </p>
    <% end %>
  </div>
  <div class="comments">
    <% @event_comments.each do |comment| %>
      <%= render 'comment', comment: comment %>
    <% end %>
  </div>
</div>