<!-- partial navigation for logged in users -->

  <ul class="nav navbar-nav">
    <% if current_user.on_council %>
      <li><a href="/admin">Administrator</a></li>
    <% end %>
    <li class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Create Events</li>
    <li><%= link_to "Assistance", neighbourhood_assistances_path(neighbourhood_id: users_building.neighbourhood_id) %></li>
    <li><%= link_to "Notices",  neighbourhood_notices_path(neighbourhood_id: users_building.neighbourhood_id) %></li>
    <li><%= link_to "Minutes", neighbourhood_meetings_path(neighbourhood_id: users_building.neighbourhood_id) %></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <%= link_to logout_path, confirm: "Are you sure?", method: :delete do %>
        Sign Out <%= fa_icon "sign-out" %>
      <% end %>
    </li>
  </ul>


<%= link_to "Create Events", new_neighbourhood_event_path(neighbourhood_id: users_building.neighbourhood_id) %></a>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create your event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for [:neighbourhood, Event.new] do |form| %>
          <% if form.object.errors.any? %>
            <div class="alert alert-danger">
              <strong>The following errors prevented saving:</strong>
              <ul>
                <% form.object.errors.full_messages.each do |error| %>
                  <li><%= error %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-horizontal">
            <fieldset>
              <div class="row">
                <div class="form-group">
                  <div class="col-sm-2">
                    <%= form.label :Title, class: "control-label" %>
                  </div>
                  <div class="col-sm-10">
                    <%= form.text_field :title, class: "form-control" %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <%= form.label :Description, class: "control-label" %>
                <%= form.text_area :description, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= form.label :Date, class: "control-label" %>
                <%= form.date_field :date, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= form.label :Location, class: "control-label" %>
                <%= form.text_area :location, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= form.label :image %>
                <%= form.file_field :image %>
              </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <div class="form-group">
                <%= form.submit "Submit Request", class: "btn btn-primary" %>
              </div>
              </div>
            </fieldset>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>