<!-- partial navigation for logged in users -->

  <%= form_tag  login_path,
                class: "form-inline login_form" do %>
    <ul class="nav navbar-nav navbar-right">
      <li class="form-group login_email">
        <%= email_field "email", nil ,class: "form-control input-sm", placeholder: "E-mail" %>
      </li>
      <li class="form-group login_password">
        <%= password_field  "password", nil, class: "form-control input-sm", placeholder: "Password" %>
      </li>
      <li class="form-group">
        <%= link_to "", onclick: "$('.login_form').submit()" do %>
           <%= fa_icon "sign-in" %> Sign In
        <% end %>
      </li>
    </ul>
  <% end %>



