<!-- partial navigation for logged in users -->

  <ul class="nav navbar-nav">
    <% if current_user.on_council %>
      <li><a href="/admin">Administrator</a></li>
    <% end %>
    <li><%= link_to "Create Events", new_neighbourhood_event_path %></a></li>
    <li><%= link_to "Assistance", neighbourhood_assistances_path %></li>
    <li><%= link_to "Notices",  neighbourhood_notices_path %></li>
    <li><%= link_to "Minutes", neighbourhood_meetings_path %></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <%= link_to logout_path, confirm: "Are you sure?", method: :delete do %>
        Sign Out <%= fa_icon "sign-out" %>
      <% end %>
    </li>
  </ul>
