<!DOCTYPE html>
<html>
  <header>
    <title>Neighbours</title>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag 'application', media: 'all' %>
      <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
      <%= javascript_include_tag 'application' %>
      <%= javascript_include_tag params[:controller] %>

  </header>
  <body class="<%= controller_name %> <%= action_name %>"
    <% if @neighbourhood %>
      data-room_id="<%= @neighbourhood.uuid %>"
    <% else %>
      data-room_id="false"
    <% end %>
  >
    <%= render 'layouts/top_nav' %>
    <main class="container">
      <%= render 'layouts/alerts_feed' %>
      <%= yield %>
    </main>
  </body>
</html>
